<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{% url 'index' %}">Home</a> </li>
                <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a> </li>
                <li><a class="navbar-link" href="{% url 'login_app:register' %}">Register</a> </li>
                <li><a class="navbar-link" href="{% url 'login_app:user_login' %}">Login</a> </li>

            </ul>
        </div>
   </nav>

    <div class="container">
        {% block body_blocks %}

        {% endblock %}
    </div>
    <footer>
        
    </footer>
</body>
</html>